body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    border:2px solid white;
    
         
}
.logo{
    position:fixed;
    left:0px;
    margin:10px 20px;
    font-family:candara;
    font-size:20px;

}
a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:24px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .slider{
   width:1000px;
   height:500px;
   background-color:yellow;
   margin-left:auto;
   margin-right:auto;
   margin-top:0px;
   overflow:hidden;
   text-align:center;
   postion:relative;
   right:100px;
   
  }

.image-container{
    width:3000px;
    height:500px;
    background-color:pink;
    clear:both;
    position:relative;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
    -o-transition:left 2s;
    transition:left 2s;

}
.slide{
    float:left;
    margin:0px;
    padding:0px;
    display:inline-block;
    position:relative;
    
    

}

#slide1:target ~ .image-container{
    left:0px;
}

#slide2:target ~ .image-container{
    left:-1000px;
}
#slide3:target ~ .image-container{
    left:-2000px;
}

.buttons{
    position:relative;
    top:-20px;
}
.buttons a{
    display:inline-block;
    height:15px;
    width:15px;
    border-radius:50px;
    background-color:lightgreen;
}
/* .sidebar{
    height:90vh;
    width:60%;
    background-color:grey;
    display:flex;
    flex-wrap:wrap;
    /* border:1px solid white; */
    /* box-shadow:10px 10px 20px white; */
    justify-content:space-around;
    align-items:center;
    align-content:center;
    /* animation:anim infinite 5s ease-in; */
   

2 */

img.img{
    height:42%;
   margin:1px 0px;
   
}
img.img:hover{
    opacity:0.5;
}


@keyframes anim{
    0%{
        background-color:black;
    }
    50%{
        background-color:grey;
    }
    100%{
        background-color:#111111;
    }
   
}
