body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
    
   
}
.home,.login,.admin,.aboutUs{
  padding:22px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .body{
    display:flex;
   
  }
.sidebar{
    height:92vh;
    width:20%;
    background-color:#000000;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    position:absolute;
    bottom:40px;
    
}
img.img{
    position:relative;
    animation:anim 5s ease-in;
    animation-iteration-count:infinite;
    margin:2px 10px;
    width:60%;
    border-radius:15px;
}
.circle{
    height:200px;
    width:200px;
    background-color:white;
    positon:relative;
    display:inline-block;
   
}
@keyframes anim{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
   
}
