body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:yellow;
    display:flex;
    flex-direction:row;
   
}
.home{
    flex:50%;
}
.sidebar{
    height:92vh;
    width:20%;
    background-color:grey;
}
