body{
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
    justify-contents:center;
}

.about-us{
    width:70%;
    height:50%;
    border:2px solid #ccc;
    border-radius:20px;
}