body{
    padding:0px;
    margin:0px;
}

.profile{
    width:30%;
    border-radius:50%;
}
form{
    width:30%;
    border: 3px solid #f1f1f1;
}
.username,.password{
    width:50%;
    
}
input[type="text"],
input[type="password"]{
    padding:0.1rem;
    margin:8px 0px;
    display:inline-block;
    width:100%
    
}
.login,.username,.password,.remember{
    padding:10px;
}
.b1{
    background-color:#04AA6D;
    color:white;
    margin:8px 0px;
    border:none;
    cursor:pointer;
    padding:2rem;
    width:100%;
}