body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
    
   
}
.home,.login,.admin,.aboutUs{
  padding:20px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
.sidebar{
    height:92vh;
    width:20%;
    background-color:#000000;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
}
img.img{
    position:relative;
    animation:anim 5s infinite;
    margin:2px 10px;
    width:50%;
}
@keyframes anim{
    0%{
        top:0px;
    }
    25%{
        top:20px;
    }
    50%{
        top:0px;
    }
    100%{
        top:20px;
    }
}
