body{
    padding:0px;
    margin:0px;
}

.profile{
    width:30%;
    border-radius:50%;
}
form{
    width:30%;
    border: 3px solid #f1f1f1;
}
.login,.username,.password,.remember{
    padding:10px;
}

input[type="text"],
input[type="password"]{
    
    margin:8px 0px;
    display:inline-block;
    width:100%;
    
}

.b1{
    background-color:#04AA6D;
    color:white;
    margin:8px 0px;
    border:none;
    cursor:pointer;
    padding:0.5rem;
    width:100%;
}
button:hover{
    opacity:0.8;
}
.imgdiv{
    text-align:center;
}
.container{
 display:flex;
 justify-content:space-around;
 padding:1rem;
}

