body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
         
}
.logo{
    position:fixed;
    left:0px;
    margin:10px 20px;
    font-family:ui-rounded;
    font-size:20px;
}
a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:24px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .body{
    display:flex;
   
  }
.sidebar{
    height:90vh;
    width:60%;
    background-color:grey;
    display:flex;
    flex-wrap:wrap;
    /* border:1px solid white; */
    /* box-shadow:10px 10px 20px white; */
    justify-content:space-around;
    align-items:center;
    align-content:center;
    /* animation:anim infinite 5s ease-in; */
   

2
}
img.img{
    height:42%;
   margin:1px 0px;
   
}
img.img:hover{
    opacity:0.5;
}


@keyframes anim{
    0%{
        background-color:black;
    }
    50%{
        background-color:grey;
    }
    100%{
        background-color:#111111;
    }
   
}
