body{
    padding:0px;
    margin:0px;
}

.profile{
    width:10%;
    border-radius:50%;
}
form{
    width:30%;
    border: 3px solid #ccc;
}
.username,.password{
    width:50%;
    
}
input[type="text"],
input[type="password"]{
    padding:.5em;
    margin:8px;
    display:inline-block;

}