body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:5vh;
    background-color:yellow;
}
.sidebar{
    height:100%;
    width:20%;
    background-color:grey;
}
