body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
    
         
}
.logo{
    position:fixed;
    left:0px;
    margin:10px 20px;
    font-family:candara;
    font-size:20px;

}
a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:24px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .slider{
   width:1000px;
   height:500px;
   background-color:yellow;
   margin-left:auto;
   margin-right:auto;
   margin-top:0px;
   overflow:hidden;
   text-align:center;
   display:inline-block;
   position:relative;
   border:2px solid white;
   
  }

.image-container{
    width:3000px;
    height:500px;
    background-color:pink;
    clear:both;
    position:relative;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
    -o-transition:left 2s;
    transition:left 2s;

}
.slide{
    float:left;
    margin:0px;
    padding:0px;
   
    
    

}

#slide1:target ~ .image-container{
    left:0px;
}

#slide2:target ~ .image-container{
    left:-1000px;
}
#slide3:target ~ .image-container{
    left:-2000px;
}

.buttons{
    position:relative;
    top:-20px;
}
.buttons a{
    display:inline-block;
    height:15px;
    width:15px;
    border-radius:50px;
    background-color:lightgreen;
}
.main{
    display:flex;
    /* flex:flex-wrap; */
    /* align-contents:center; */
    align-items:center;
    margin:0px;
}
.name{
    border:2px solid white;
    display:inline-block;
    height:200px;
    width:300px;

}



