body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
         
}
a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:22px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .body{
    display:flex;
   
  }
.sidebar{
    height:92vh;
    width:70%;
    background-color:#000000;
    display:flex;
    flex-wrap:wrap;
   

    
}
img.img{
    height:45%;
   
}
img.img:hover{
    opacity:0.5;
}


@keyframes anim{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
   
}
