body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    display:flex;
    flex-direction:row-reverse;
    color:white;
    
         
}
a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:22px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    color:grey;
  }
  .body{
    display:flex;
   
  }
.sidebar{
    height:92vh;
    width:70%;
    background-color:blue;
    display:flex;
    flex-wrap:wrap;
    gap:1rem;

    
}
img.img{
   
    animation:anim 5s ease-in;
    animation-iteration-count:infinite;
    margin:2px 10px;
    height:40%;
   
}


@keyframes anim{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
   
}
