body{
    margin:0px;
    padding:0px;
    background-color:rgb(27,32,44/100%);
}
.navbar{
    width:100%;
    height:8vh;
    background-color:yellow;
}
.sidebar{
    height:92vh;
    width:20%;
    background-color:grey;
}
