body{
    margin:0px;
    padding:0px;   
}
.hello{
    background-color:#000000;
    height:5vh;
    color:white;
}
.art-navbar{
    width:100%;
    background-color:#000000;
    height:10vh;
    padding:0px;
}
/* .featured-art{
    color:white;
    font-size:10px;
    font-weight:bolder;
    
} */
.art-navbar-head{
    display:flex;
    justify-content:space-between;
}
.art-grid{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    margin-top:10px;
    
}
.grid{
    border:1px solid black;
    height:22rem;
    margin:5px;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-weight:bolder;
    
}

img{
    height:35vh;
    display:block;
    margin:15px;

}
div.buy{
    display:block;
    margin:auto; 
    border-radius:2px;
    color:white; 
    background-color:green;
    padding:2px 5px; 
    
}
.amount{
    display:block;
    margin:auto;
    color:red;
    font-weight:bolder;
}
button{
    color:white;
    background-color:green;
    border:none;
    padding:5px 15px;
    border-radius:2px;
}

img:hover{
    opacity:0.5;
}
a{
    position:relative;
    right:20px;
    text-decoration:none;
}
.paint{
    height:80px;
    position:relative;
    bottom:25px;
    margin:0;
    padding:0;
}