body{
    margin:0px;
    padding:0px;   
}

.art-navbar{
    width:100%;
    background-color:#000000;
    height:10vh;
    padding:0px;
    margin:0px;
}
.heading{
    color:white;
    padding:30px;
    
}
.art-grid{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    
}
.grid{
    border:1px solid black;
    height:22rem;
    margin:5px;
    display:flex;
    flex-direction:column;
    text-align:center;
    
}

img{
    height:35vh;
    display:block;
    margin:15px;

}
div.buy{
    display:block;
    margin:auto; 
    border-radius:2px;
    color:white; 
    background-color:green;
    padding:2px 5px; 
    
}
.amount{
    display:block;
    margin:auto;
    color:blue;s
    font-weight:bolder;
    

}
button{
    color:white;
    background-color:green;
    border:none;
    padding:5px 15px;
    border-radius:2px;
}

img:hover{
    opacity:0.5;
}