body{
    padding:0px;
    margin:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#9D76C1;
}
.login{
    margin:10px;
    font-size:30px;
    font-weight:bolder;
   
   
}
.box{
    width:30%;
    height:60vh;
    border:2px solid #ccc;
    margin:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    background-color:#ffffff;
}
input{
    padding:10px 20px;
}
a{
    text-decoration:none;
    color:#ccc;
}
#button{
    color:#ffffff;
    background-color:#9D76C1;

}