body{
    margin:0px;
    padding:0px;
    background-color:#000000;
}
.navbar{
    width:100%;
    height:8vh;
    background-color:#000000;
    color:white;
    display:flex;
    flex-direction:row-reverse;
    
}   
button:hover{
   opacity:0.5;
}   
         
span.p1{
    position:relative;
    right:90%;
    margin-top:24px;

}
span a,i{
    padding: 0px 10px;
    font-size:20px;
}
span a:hover{
    opacity:0.5;
}
.home,.navbar a{
    text-decoration:none;
    color:white;
}
.home,.login,.admin,.aboutUs{
  padding:24px;
}
.home:hover,.login:hover,.admin:hover,.aboutUs:hover{
    opacity:0.5;
  }
  .slider{
   width:1000px;
   height:600px;
   text-align:center;
   margin-top:0px;
   margin-left:10px;
   display:inline-block;
   overflow:hidden;
   position:relative;
   grid-column:1/2;
   
  }

.image-container{
    width:3000px;
    height:600px;
    clear:both;
    position:relative;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
    -o-transition:left 2s;
    transition:left 2s;
}
.slide{
    float:left;
    margin:0px;
    padding:0px;
}

#slide1:target ~ .image-container{
    left:0px;
}

#slide2:target ~ .image-container{
    left:-1000px;
}
#slide3:target ~ .image-container{
    left:-2000px;
}

.buttons{
    position:relative;
    top:-20px;
}
.buttons a{
    height:15px;
    width:15px;
    display:inline-block;
    border-radius:50px;
    background-color:lightgreen;
}
.main{
    display:grid;
    grid-template-columns:auto auto auto;
    gap:10px;

}
.name1{
   
    color:#ffffff;
    background:url("../images/squareimg.jpg");
    display:inline-block;
    height:65vh;
    width:454px;
    grid-column:2;
    max-width:100%;
    font-size:60px;
    font-weight:bolder;
    text-shadow:10px 10px 15px black;
    text-align:center;
    verticle-align:middle;
    line-height:30rem;
    margin-right:10px;
}

.name2{
    color:white;
    height:8vh;
    width:1000px;
    max-width:100%;
    margin-left:10px;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column:1;  
}

.name3{
    width:460px;
    height:1vh;
    max-width:100%;
    margin-right:10px;
    color:white;
    grid-column:2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
    position:relative;
    bottom:30px; 
    
    
}
.name3-shopnow{
    padding:10px 30px; 
    color:#000000;  
}
.name3-shopnow a{
    color:black;
    text-decoration:none;
}

